.App {
  text-align: center;
}

/* MainTodoList{
  margin: 0 auto;
} */

.center-text {
  text-align: center;
}

.main-page, .center-item {
  width: 80%;
  margin: 2% auto;
  /* color: red;
  background-color: lightgreen; */
}

.todo-item {
  width: 70%;
  margin: 1% auto;
  font-size: 21px;
  border: 2px solid #44474a;
  padding: 1%;
  /* color: red;
  background-color: lightgreen; */
}

.row-item {
  height: 32px;
}

button.row-item {
  color: white;
  border-radius: 5px;
  border: 0px;
  background-color: #1580eb;
  margin-left: 1%;
  font-size: 18px;
  width: 9%;
  height: 45px;
}

input.row-item {
  width: 27%;
}